<form autocomplete="off" onsubmit="event.preventDefault();">
  <div class="settings-list">
    <h2 class="module-header">Blood n Guts - Advanced Configuration</h2>
    <div class="form-group submenu">
      <label>Floor Splat Font:</label>
      <select type="select" class="select-blood-n-guts-font" name="floorSplatFont">    
        <option value="splatter"> splatter </option>
        <option value="WC Rhesus A Bta"> WC Rhesus A Bta </option>                       
      </select>      
      <p class="notes">Select the font to use for blood splatter on the floor</p>
    </div>
    <div class="form-group">
      <label>Token Splat Font:</label>
      <select type="select" class="select-blood-n-guts-font" name="tokenSplatFont">    
        <option> splatter </option>
        <option> WC Rhesus A Bta </option>                       
      </select>
      <p class="notes">Select the font to use for token blood splatter</p>
    </div>
    <div class="form-group">
      <label>Trail Splat Font:</label>
      <select type="select" class="select-blood-n-guts-font" name="trailSplatFont">    
        <option> splatter </option>
        <option> WC Rhesus A Bta </option>                       
      </select>
      <p class="notes">Select the font to use for blood trails</p>
    <div>
    <div class="form-group">
      <label>Floor Splat Size</label>
      <div class="form-fields">
        <input type="text" class="input-blood-n-guts-font-details" name="floorSplatSize" value="200" data-dtype="Number">
      </div>
      <p class="notes">This will increase the size of floor splats</p>
    </div>
    <div class="form-group">
      <label>Floor Splat Density</label>
      <div class="form-fields">
        <input type="text" class="input-blood-n-guts-font-details" name="floorSplatDensity" value="100" data-dtype="Number">
      </div>
      <p class="notes">This will increase the amount of floor spats per hit</p>
    </div>
    <div class="form-group">
      <label>Token Splat Size</label>
      <div class="form-fields">
        <input type="text" class="input-blood-n-guts-font-details" name="tokenSplatSize" value="200" data-dtype="Number">
      </div>
      <p class="notes">This will increase the size of token splats</p>
    </div>
    <div class="form-group">
      <label>Token Splat Density</label>
      <div class="form-fields">
        <input type="text" class="input-blood-n-guts-font-details" name="tokenSplatDensity" value="100" data-dtype="Number">
      </div>
      <p class="notes">This will increase the amount of token splats per hit</p>
    </div>
    <div class="form-group">
      <label>Trail Splat Size</label>
      <div class="form-fields">
        <input type="text" class="input-blood-n-guts-font-details" name="trailSplatSize" value="200" data-dtype="Number">
      </div>
      <p class="notes">This will increase the size of splats in a blood trail</p>
    </div>
    <div class="form-group">
      <label>Trail Splat Density</label>
      <div class="form-fields">
        <input type="text" class="input-blood-n-guts-font-details" name="trailSplatDensity" value="100" data-dtype="Number">
      </div>
      <p class="notes">This will increase the amount of blood splats in a trail</p>
    </div>
      <button type="submit" name="submit" value="1"><i class="fas fa-dice"></i>Submit</button>
  </div>
</form>

