<form autocomplete="off" onsubmit="event.preventDefault();">
  <div class="settings-list">
    <h2 class="module-header">Blood n Guts - Advanced Configuration</h2>
    <div class="form-group submenu">
      <label>Floor Splat Font:</label>
      <select type="select" class="advanced-config-select-font" name="floorSplatFont">    
        {{#select floorSplatFont}}
          {{#each fonts}}
            <option value="{{name}}"> {{name}} </option>
          {{/each}}
        {{/select}}                    
      </select>      
      <p class="notes">Select the font to use for blood splatter on the floor</p>
    </div>
    <div class="form-group">
      <label>Token Splat Font:</label>
      <select type="select" class="advanced-config-select-font" name="tokenSplatFont">
        {{#select tokenSplatFont}}
          {{#each fonts}}
            <option value="{{name}}"> {{name}} </option>
          {{/each}}
        {{/select}}                    
      </select>      
      </select>
      <p class="notes">Select the font to use for token blood splatter</p>
    </div>
    <div class="form-group">
      <label>Trail Splat Font:</label>
      <select type="select" class="advanced-config-select-font" name="trailSplatFont">    
        {{#select trailSplatFont}}
          {{#each fonts}}
            <option value="{{name}}"> {{name}} </option>
          {{/each}}
        {{/select}}                    
      </select>                           
      </select>
      <p class="notes">Select the font to use for blood trails</p>
    <div>
    <div class="form-group">
      <label>Floor Splat Size</label>
      <div class="form-fields">
        <input type="number" value="{{ floorSplatSize }}" class="advanced-config-font-details" name="floorSplatSize" data-dtype="Number">
      </div>
      <p class="notes">This will increase the size of floor splats</p>
    </div>
    <div class="form-group">
      <label>Floor Splat Density</label>
      <div class="form-fields">
        <input type="number" value="{{ floorSplatDensity }}" class="advanced-config-font-details" name="floorSplatDensity" data-dtype="Number">
      </div>
      <p class="notes">This will increase the amount of floor spats per hit</p>
    </div>
    <div class="form-group">
      <label>Token Splat Size</label>
      <div class="form-fields">
        <input type="number" value="{{ tokenSplatSize }}" class="advanced-config-font-details" name="tokenSplatSize" data-dtype="Number">
      </div>
      <p class="notes">This will increase the size of token splats</p>
    </div>
    <div class="form-group">
      <label>Token Splat Density</label>
      <div class="form-fields">
        <input type="number" value="{{ tokenSplatDensity }}" class="advanced-config-font-details" name="tokenSplatDensity" data-dtype="Number">
      </div>
      <p class="notes">This will increase the amount of token splats per hit</p>
    </div>
    <div class="form-group">
      <label>Trail Splat Size</label>
      <div class="form-fields">
        <input type="number" value="{{ trailSplatSize }}" class="advanced-config-font-details" name="trailSplatSize" data-dtype="Number">
      </div>
      <p class="notes">This will increase the size of splats in a blood trail</p>
    </div>
    <div class="form-group">
      <label>Trail Splat Density</label>
      <div class="form-fields">
        <input type="number" value="{{ trailSplatDensity }}" class="advanced-config-font-details" name="trailSplatDensity"  data-dtype="Number" step="any">
      </div>
      <p class="notes">This will increase the amount of blood splats  in a trail</p>
    </div>
    <div class="form-group">
      <label>Splat Spread</label>
      <div class="form-fields">
        <input type="number" value="{{ splatSpread }}" class="advanced-config-font-details" name="splatSpread"  data-dtype="Number">
      </div>
      <p class="notes">This will determine the random spread of splats</p>
    </div>
    <div class="form-group">
      <label>Health Threshold</label>
      <div class="form-fields">
        <input type="number" value="{{ healthThreshold }}" class="advanced-config-font-details" name="healthThreshold"  data-dtype="Number" step="any">
      </div>
      <p class="notes">The % of max health to start showing splats e.g. 1.0 will show splats all the time, 0.25 will show splats when HP is 25% or less.</p>
    </div>   
  </div>
    <div class="form-group">
      <label>Splat Pool Size</label>
      <div class="form-fields">
        <input type="number" value="{{ sceneSplatPoolSize }}" class="advanced-config-font-details" name="sceneSplatPoolSize"  data-dtype="Number">
      </div>
      <p class="notes">The max amount of splats to display at once before reuse</p>
    </div>
      <button type="button" class="advanced-config-wipe-scene-splats" name="wipe-scene-splats"><i class="fas fa-trash-alt"></i>Wipe Scene Splats</button>
      <button type="submit" class="advanced-config-submit" name="submit"><i class="fas fa-dice"></i>Submit</button>
  </div>
</form>

