<form>
    <h3 class="form-header"><i class="fas fa-paint-brush"></i> Brush Settings </h3>
    <div class="form-group">
        <label for="brushColor">Blood Color</label>
        <input class="color" type="text" name="brushColor" value="{{ brushColor }}" data-dtype="String"/>
        <input type="color" value="{{ brushColor }}" data-edit="brushColor"/>
    </div>
    <div class="form-group">
        <label for="brushFont">Brush Font:</label>
        <select type="select" class="advanced-config-select-font" name="brushFont">    
          {{#select brushFont}}
            {{#each fonts}}
              <option value="{{name}}"> {{name}} </option>
            {{/each}}
          {{/select}}                    
        </select>
    </div>
    <div class="form-group">
        <label for="brushSize">Blood Splat Size</label>
        <input type="range" name="brushSize" value="{{ brushSize }}" min="10" max="500" step="10" data-dtype="Number"/>
        <span class="range-value">{{ brushSize }}</span>
    </div>
    <div class="form-group">
        <label for="brushAlpha">Blood Alpha</label>
        <input type="range" name="brushAlpha" value="{{ brushAlpha }}" min="0.1" max="1" step="0.1" data-dtype="Number"/>
        <span class="range-value">{{ brushAlpha }}</span>
    </div>
    
    <div class="form-group">
        <label for="brushSpread">Blood Spread</label>
        <input type="range" name="brushSpread" value="{{ brushSpread }}" min="0" max="5" step="0.1" data-dtype="Number"/>
        <span class="range-value">{{ brushSpread }}</span>
    </div>
    <div class="form-group">
        <label for="brushDensity">Blood Density</label>
        <input type="range" name="brushDensity" value="{{ brushDensity }}" min="1" max="10" step="1" data-dtype="Number"/>
        <span class="range-value">{{ brushDensity }}</span>
    </div>
    <hr>
    <footer class="sheet-footer flexrow">
        <button type="submit" name="saveDefaults">
            <i class="fas fa-save"></i> Save As Default
        </button>
        <button type="submit" name="submit">
            <i class="fa fa-check"></i> Submit
        </button>
    </footer>
</form>
