<form>
    <div class="form-group">
        <label for="preset"> {{ localize 'blood-n-guts.violence-config.preset.label' }}</label>        
        <select id="preset" name="preset" data-dtype="String"/>
            {{ selectOptions choices selected=preset localize=true }}
        </select>
    </div>
    <div class="form-group">
        <label for="name" hidden> {{ localize 'blood-n-guts.violence-config.name.label' }}</label>
        <input id="name" name="name" type="text" value="{{ name }}" hidden>
    </div>
    <div class="form-group">
        <label for="floorSplatSize"> {{ localize 'blood-n-guts.violence-config.floorSplatSize.label' }}</label>
        <input id="floorSplatSize" class="violence-config-number" name="floorSplatSize" type="number" value="{{ floorSplatSize }}" >
        <p class="notes"> {{ localize 'blood-n-guts.violence-config.floorSplatSize.hint' }}</p>
    </div>
    <div class="form-group">
        <label for="floorSplatDensity "> {{ localize 'blood-n-guts.violence-config.floorSplatDensity.label' }}</label>
        <input id="floorSplatDensity " class="violence-config-number" name="floorSplatDensity " type="number" value="{{ floorSplatDensity }}" >
        <p class="notes"> {{ localize 'blood-n-guts.violence-config.floorSplatSize.hint' }}</p>
    </div>
    <div class="form-group">
        <label for="tokenSplatSize"> {{ localize 'blood-n-guts.violence-config.tokenSplatSize.label' }}</label>
        <input id="tokenSplatSize" class="violence-config-number" name="tokenSplatSize" type="number" value="{{ tokenSplatSize }}" >
        <p class="notes"> {{ localize 'blood-n-guts.violence-config.floorSplatSize.hint' }}</p>
    </div>
    <div class="form-group">
        <label for="tokenSplatDensity"> {{ localize 'blood-n-guts.violence-config.tokenSplatDensity.label' }}</label>
        <input id="tokenSplatDensity" class="violence-config-number" name="tokenSplatDensity" type="number" value="{{ tokenSplatDensity }}">
        <p class="notes"> {{ localize 'blood-n-guts.violence-config.floorSplatSize.hint' }}</p>
    </div>
    <div class="form-group">
        <label for="trailSplatSize"> {{ localize 'blood-n-guts.violence-config.trailSplatSize.label' }}</label>
        <input id="trailSplatSize" class="violence-config-number" name="trailSplatSize" type="number" value="{{ trailSplatSize }}">
        <p class="notes"> {{ localize 'blood-n-guts.violence-config.floorSplatSize.hint' }}</p>
    </div>
    <div class="form-group">
        <label for="trailSplatDensity "> {{ localize 'blood-n-guts.violence-config.trailSplatDensity.label' }}</label>
        <input id="trailSplatDensity " class="violence-config-number" name="dimLight " type="number" value="{{ trailSplatDensity }}">
        <p class="notes"> {{ localize 'blood-n-guts.violence-config.floorSplatSize.hint' }}</p>
    </div>
    <div class="form-group">
        <label for="splatSpread"> {{ localize 'blood-n-guts.violence-config.splatSpread.label' }}</label>
        <input id="splatSpread" class="violence-config-number" name="splatSpread" type="number" value="{{ splatSpread }}">
        <p class="notes"> {{ localize 'blood-n-guts.violence-config.floorSplatSize.hint' }}</p>
    </div>
    <div class="form-group">
        <label for="healthThreshold "> {{ localize 'blood-n-guts.violence-config.healthThreshold.label' }}</label>
        <input id="healthThreshold " class="violence-config-number" name="healthThreshold " type="number" value="{{ healthThreshold }}">
        <p class="notes"> {{ localize 'blood-n-guts.violence-config.floorSplatSize.hint' }}</p>
    </div>
    <div class="form-group">
        <label for="damageThreshold"> {{ localize 'blood-n-guts.violence-config.damageThreshold.label' }}</label>
        <input id="damageThreshold" class="violence-config-number" name="damageThreshold" type="number" value="{{ damageThreshold }}">
        <p class="notes"> {{ localize 'blood-n-guts.violence-config.floorSplatSize.hint' }}</p>
    </div>
    <div class="form-group" >
        <label for="deathMultiplier "> {{ localize 'blood-n-guts.violence-config.deathMultiplier.label' }}</label>
        <input id="deathMultiplier " class="violence-config-number" name="deathMultiplier " type="number" value="{{ deathMultiplier }}">
        <p class="notes"> {{ localize 'blood-n-guts.violence-config.floorSplatSize.hint' }}</p>
    </div>
    <div class="form-group">
        <label for="sceneSplatPoolSize"> {{ localize 'blood-n-guts.violence-config.sceneSplatPoolSize.label' }}</label>
        <input id="sceneSplatPoolSize" class="violence-config-number" name="sceneSplatPoolSize" type="number" value="{{ sceneSplatPoolSize }}">
        <p class="notes"> {{ localize 'blood-n-guts.violence-config.floorSplatSize.hint' }}</p>
    </div>
</form>
<footer class="sheet-footer flexrow">
    <button>{{ localize button1 }}</button>
    <button>{{ localize button2 }}</button>
    <button>{{ localize button3 }}</button>    
</footer>