@font-face {
  font-family: 'splatter';
  src: url('./fonts/splatter.woff2') format('woff2'),
      url('./fonts/splatter.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WC Rhesus A Bta';
  src: url('./fonts/WCRhesusABta.woff2') format('woff2'),
      url('./fonts/WCRhesusABta.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
